body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f4f4f9; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: #f4f4f9; */
}

.signin-box {
  /* background: #ffffff; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 400px; */
  text-align: center;
}

.signin-box h1 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signin-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.signin-button:hover {
  background-color: darkgreen;
}

/* .signin-box p {
  margin-top: 10px;
  color: #666;
} */

.signin-box a {
  color: #007bff;
  text-decoration: none;
}

.signin-box a:hover {
  text-decoration: underline;
}
